*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 5rem 1rem;
    border-bottom: 1px solid grey;
    color: white;
}
.name{
    display: flex;
    align-items: center;
    gap: .7rem;
}
.name h3 {
    border-right: 2px solid white;
    padding-right: .7rem;
}
.mail{
    display: flex;
    align-items: center;
    gap: 1rem;
}
nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
nav img {
    width: 2rem;
}
.hero {
    color: #fff;
    padding: 0 13vw;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hp1 {
    font-size: 2.5rem;
}

.hp2 {
    font-size: 2.5rem;
    font-weight: 700;
}
.hp2 span {
    color: #2F80ED;
}
.hp3 {
    font-size: 1.125rem;
    margin-top: 1.5rem;
}
.chat {
    margin-top: 2.5rem;
    background-color: #2F80ED;
    padding: .4rem .8rem;
    width: fit-content;
    border-radius: 3px;
}
.hero img {
   margin-bottom: 5rem;
}
.about{
    display: flex;
    justify-content: space-between;
    padding: 6rem 13rem;
    align-items: center;
}
.ab{
    font-weight: lighter;
    color: #fff;
    margin-bottom: 1rem;;
}
.bit{
    font-weight: 700;
    color: white;
    padding-bottom: 1rem;
}
.details{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 32px;

}
.ab-2{
    padding-right: 13rem;
    color: white;
}
.ab-2 ol{
    font-size: larger;
    color: grey;
    font-weight: bolder;
    margin: 1rem 0;
}
.ab-2 li{
    list-style: url(/Media/List.png);
    line-height: 2.5rem;
}
.project1{
 display: flex;
 align-items: center;
 padding: 4rem 13rem;
 gap: 3rem;
}
.pro-1a p{
color: white;
font-weight: lighter;
}
.pro-1a h1{
    width: 395px;
    height: 116px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 58px;
    color: white;
    margin-bottom: 1rem;
}
.pro-1b{
    /* padding-left: 4rem; */
    line-height: 3rem;
}
.pro-1a img{
    background-color: #F1E4FF;;
    border-radius: 10px;
    width: 540px;
    height: 540px;
}
.pro-1b h1{
    color: white;
    font-weight: bold;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 30px;
}
.pro-1b p{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.pro-1b a{
    color: #2F80ED;
    font-weight: 800;
}
.project2{
    display: flex;
    align-items: center;
    padding: 4rem 13rem;
    gap: 3rem;
}
.pro-2a h1{
    color: white;
    font-weight: bolder;
    margin-bottom: 30px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
}
.pro-2a p{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.pro-2b img{
    background-color: #F1E4FF;
    border-radius: 10px;
    margin-left: 4rem;
    width: 540px;
    height: 540px;
}
.pro-2a a{
    color: #2F80ED;
    font-weight: 800;
    /* padding-top: 1rem; */
}
.project3{
    display: flex;
    align-items: center;
    padding: 4rem 13rem;
    gap: 3rem;
}
.pro-3b{
     /* padding-left: 4rem; */
     line-height: 3rem;
 } 
 .pro-3a img{
    background-color: #F1E4FF;;
    border-radius: 10px;
    width: 540px;
    height: 540px;
 }
.pro-3b h1{
        color: white;
        font-weight: bold;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 54px;
        margin-bottom: 30px;
    }
    .pro-3b p{
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
    }
    .pro-3b a{
        color: #2F80ED;;
        font-weight: 800;

    }
    .touch{
        display: flex;
        flex-direction: column;
        background-color:#2F80ED;
        width: 60%;
        height: 10rem;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        border-radius: 10px;
        margin: 2rem auto;
        padding: 0 1rem;
    }
    .touch p{
        color: #fff;
        font-size: 25px;
        font-weight: lighter;
        margin-bottom: .5rem;
    }
    .touch h2{
        color: #fff;
        font-weight: bolder;
        margin-bottom: 2rem;
        font-size: 2.5rem
    }
    .icons{
        display: flex;
        flex-direction: column;
        padding: 0 4.8rem;
        gap: 1rem;
    }
    .icons img{
        height: 19px;
        width: 20px;
        left: 2px;
        top: 2px;
        border-radius: 0px;
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 5rem 1rem;
        color: white;
        margin-top: 4rem;
        border-top: 1px solid bla;
    }
    .name2{
        display: flex;
        align-items: center;
        gap: .7rem;
    }
    .name2 h3 {
        border-right: 2px solid white;
        padding-right: .7rem;
    }
    .mail2{
        display: flex;
        align-items: center;
         gap: 1rem;
    }

    @media (max-width: 640px) {
        :root {
            font-size: 10px;
        }

        .hero{
            flex-direction: column;
        }
        .hero img {
            margin-top: 2rem;
        }
        .about {
            display: block;
            padding: 2rem 4rem;
        }
        .project1,
        .project3 {
            display: block;
            padding: 1rem 4rem;
        }
        .project2 {
             display: none;
        }
        img.sule {
            width: 33rem;
            height: 33rem;
        }

        nav {
            display: none;
        }
        .copy{
            display: none;
        }
    }